<template>
  <Page>
    <ActionBar title="Accelerometer">
      <NavigationButton text="Back" android.systemIcon="ic_menu_back" @tap="goBack"/>
    </ActionBar>

    <StackLayout>
      <Label text="My awesome accelerometer" textWrap="true"/>

      <StackLayout v-if="position">
        <Label :text="'x: ' + position.x" textWrap="true"/>
        <Label :text="'y: ' + position.y" textWrap="true"/>
        <Label :text="'z: ' + position.z" textWrap="true"/>
      </StackLayout>
    </StackLayout>
  </Page>
</template>

<script>
import * as accelerometer from "nativescript-accelerometer";
export default {
  data() {
    return {
      position: null
    };
  },
  mounted() {
    accelerometer.startAccelerometerUpdates(
      data => {
        this.position = data;
      },
      { sensorDelay: "normal" }
    );
  },

  destroyed() {
    accelerometer.stopAccelerometerUpdates();
  },
  methods: {
    goBack() {
      this.$navigateBack();
    }
  }
};
</script>

<style>
</style>
