<template>
  <Page>
    <ActionBar title="Welcome to NativeScript-Vue!"/>
    <StackLayout>
      <Label class="message" :text="msg" height="70"/>
      <Button text="ExoLayout" @tap="goToLayout()"/>
      <Button text="Picture" @tap="goToPicture()"/>
      <Button text="Accelerometer" @tap="goToAcc()"/>
      <Button text="Game" @tap="goToGame()"/>
      <Button text="Swipe" @tap="goToSwipe()"/>
      <Button text="Puissance 4" @tap="goToP4()"/>
    </StackLayout>
  </Page>
</template>

<script >
import ExoLayoutVue, { ExoLayout } from "./ExoLayout.vue";
import PictureVue from "./Picture.vue";
import AccVue from "./Acc.vue";
import GameVue from './Game.vue';
import SwipeVue from './Swipe.vue';
import Puissance4Vue from './Puissance4.vue';
export default {
 
  data() {
    return {
      msg: "Hello Thomas!"
    };
  },

  methods: {
    goToLayout() {
      this.$navigateTo(ExoLayoutVue);
    },
    goToPicture() {
      this.$navigateTo(PictureVue);
    },
    goToAcc() {
      this.$navigateTo(AccVue);
    },
    goToGame() {
      this.$navigateTo(GameVue);
    },
    goToSwipe() {
      this.$navigateTo(SwipeVue);
    },
    goToP4() {
      this.$navigateTo(Puissance4Vue);
    }
  }
};
</script>

<style scoped>
ActionBar {
  background-color: #53ba82;
  color: #ffffff;
}

.message {
  vertical-align: center;
  text-align: center;
  font-size: 20;
  color: #333333;
}
</style>
