<template>
  <Page backgroundColor="pink">
    <ActionBar title="Welcome to ExoLayout!">
      <NavigationButton text="Go back" android.systemIcon="ic_menu_back" @tap="goBack"/>
    </ActionBar>
    <StackLayout>
      <Label
        :class="{withdraw: counter < 0, deposit: counter > 0}"
        class="counter"
        :text="counter"
        horizontalAlignment="center"
      />
      <FlexboxLayout justifyContent="space-around">
        <Button text="+" @tap="increment()" height="20%" width="40%" backgroundColor="lime"/>
        <Button text="-" @tap="decrement()" width="40%" backgroundColor="darkorange"/>
      </FlexboxLayout>
      <Button class="reset" height="10%" text="Reset" @tap="reset()" backgroundColor="aqua"/>
    </StackLayout>
  </Page>
</template>

<script>
import * as accelerometer from "nativescript-accelerometer";

export default {
  data() {
    return {
      counter: 0
    };
  },
  mounted() {
    accelerometer.startAccelerometerUpdates(
      data => {
        if (data.y < -0.5) {
          this.counter++;
        } else if (data.y > 0.5) {
          this.counter--;
        } else if (data.z > 0.8) {
          this.counter = 0;
        }
      },
      { sensorDelay: "normal" }
    );
  },
  destroyed() {
    accelerometer.stopAccelerometerUpdates();
  },

  methods: {
    goBack() {
      this.$navigateBack();
    },
    increment() {
      this.counter++;
    },
    decrement() {
      this.counter--;
    },
    reset() {
      this.counter = 0;
    }
  }
};
</script>

<style>
.counter {
  font-size: 200;
  color: blueviolet;
}
.reset {
  margin-top: 50;
  font-size: 20;
  font-weight: bold;
}
button {
  color: deeppink;
}

FlexboxLayout > button {
  border-radius: 50;
  font-size: 50;
}

.withdraw {
  color: red;
}
.deposit {
  color: green;
}
</style>
