<template>
  <Page>
    <ActionBar title="Title" icon>
      <NavigationButton text="Back" android.systemIcon="ic_menu_back" @tap="goBack"/>
    </ActionBar>
    <StackLayout>
      <Label text="My awesome Game!!" textWrap="true"/>
      <Button text="Start" @tap="startGame"/>
      <Label class="scoring" horizontalAlignment="center" :text="score" textWrap="true" />
      
      <AbsoluteLayout v-if="avatar">
        <Image :src="avatar" width="100" height="200" :top="position.y" :left="position.x"/>

        <Image
          v-for="(obstacle, index) in obstacles"
          :key="index"
          :left="obstacle.x"
          :top="obstacle.y"
          src="~/assets/images/ballon.jpg"
          width="50"
          height="100"
        />
      </AbsoluteLayout>
    </StackLayout>
  </Page>
</template>

<script>
import * as camera from "nativescript-camera";
import { Image } from "tns-core-modules/ui/image";
import * as accelerometer from "nativescript-accelerometer";

export default {
  data() {
    return {
      avatar: "",
      position: {
        x: 150,
        y: 200
      },
      obstacles: [],
      score: 0
    };
  },

  methods: {
    goBack() {
      this.$navigateBack();
    },
    startGame() {
      camera
        .takePicture({ saveToGallery: false })
        .then(imageAsset => {
          this.avatar = imageAsset;
          setInterval(this.createObstacle, 1000);

          accelerometer.startAccelerometerUpdates(
            data => {
              // if (this.position.x >= 0 && this.position.x <= 300) {
              this.position.x = this.position.x + data.x * 5;

              //}
              //if (this.position.y <= 400 && this.position.y >= 0) {
              this.position.y -= data.y * 5;
              //}
              this.score += 1;
              this.obstacles.forEach((element, index) => {
                element.y += 2;
                //  element.x+=2;
                if (element.y > 400) {
                  //   this.obstacles.filter(item => this.element !== item);
                
                  this.obstacles.splice(index, 1);
                }
                if (this.isColliding(element)) {
                    this.score -= 1000;
                  this.obstacles.splice(index, 1);

                }
              });
            },
            { sensorDelay: "fastest" }
          );
        })
        .catch(err => {
          console.log("Error -> " + err.message);
        });
    },
    createObstacle() {
      let newObstacle = { y: -100, x: Math.random() * 500 };
      this.obstacles.push(newObstacle);
    },
    isColliding(obstacle) {
     
      return  (obstacle.x < this.position.x + 100 &&
        obstacle.x + 50 > this.position.x &&
        obstacle.y < this.position.y + 200 &&
        100 + obstacle.y > this.position.y)
    
    }
  },
  destroyed() {
    accelerometer.stopAccelerometerUpdates();
  }
};
</script>

<style>
.scoring {
    font-size: 100;
}
</style>
