<template>
  <Page>
    <ActionBar title="Welcome to Picture!">
      <NavigationButton text="Go back" android.systemIcon="ic_menu_back" @tap="goBack"/>
    </ActionBar>
    <StackLayout>
      <Label text="coucou" textWrap="true"/>

      <Button text="Take Picture" @tap="newPic()"/>
      <Image v-if="picture" :src="picture"/>
      <Label v-if="!picture" text="Common take a picture!!!" textWrap="true" />
      

    </StackLayout>
  </Page>
</template>

<script>
import * as camera from "nativescript-camera";
import { Image } from "tns-core-modules/ui/image";

export default {
  data() {
    return {
      picture: null
    };
  },
  methods: {
    goBack() {
      this.$navigateBack();
    },

    newPic() {
      camera
        .takePicture({saveToGallery: false})
        .then(imageAsset => {
          console.log("Result is an image asset instance");
        //   var image = new Image();
        //   image.src = imageAsset;
          this.picture = imageAsset;
        })
        .catch(err => {
          console.log("Error -> " + err.message);
        });
    }
  }
};
</script>

<style>
</style>
