<template>
  <Page>
    <ActionBar title="Exo Puissance4">
      <NavigationButton text="Go back" android.systemIcon="ic_menu_back" @tap="goBack()"/>
    </ActionBar>
    <StackLayout>
        <Label row="0" class="target " :class="{green : ((this.tour%2) == 0)}" text="Player1" @tap="addNewItem(0)" width="80" height="30"></Label>
        <Label row="0" class="target " :class="{green : this.tour%2}" text="Player2" @tap="addNewItem(0)" width="80" height="30"></Label>
        <Label row="0" class="target " :text="this.tour" width="80" height="30"></Label>
        <Label row="0" class="target " :text="result" width="300" height="90"></Label>
        <GridLayout columns="60,60,60,60,60*">
            <WrapLayout col="1" ref="toto" id="wrapLayout" width="60" height="305" @tap="addNewItem(0)" backgroundColor="LightGray">
                <Image v-for="item in game[0]" :key="item.id" @loaded="appearTop($event)" :src="item.src" opacity="0" translateY="-300" width="40" height="40" />
            </WrapLayout>
            <WrapLayout col="2" ref="toto1" id="wrapLayout2" width="60" height="305" @tap="addNewItem(1)" backgroundColor="Gray">
                <Image v-for="item in game[1]" :key="item.id" @loaded="appearTop($event)" :src="item.src" opacity="0" translateY="-300" width="40" height="40" />
            </WrapLayout>
            <WrapLayout col="3" ref="toto3" id="wrapLayout3" width="60" height="305" @tap="addNewItem(2)" backgroundColor="Green">
                <Image v-for="item in game[2]" :key="item.id" @loaded="appearTop($event)" :src="item.src" opacity="0" translateY="-300" width="40" height="40" />
            </WrapLayout>
            <WrapLayout col="4" ref="toto3" id="wrapLayout4" width="60" height="305" @tap="addNewItem(3)" backgroundColor="Blue">
                <Image v-for="item in game[3]" :key="item.id" @loaded="appearTop($event)" :src="item.src" opacity="0" translateY="-300" width="40" height="40" />
            </WrapLayout>
        </GridLayout>
    </StackLayout>
  </Page>
</template>

<script>
import { SwipeDirection, SwipeGestureEventData } from "tns-core-modules/ui/gestures"; 
import { Image } from "tns-core-modules/ui/image";

export default {
    data() {
        return {
            logo: '',
            player1: '~/assets/images/simplon_100x100.png',
            player2: '~/assets/images/simplon_100x100_2.jpg',
            log: [],
            tour: 0,
            game:[[],[],[],[]], // {id:1,src:this.picture},{id:2,src:this.picture}, {id:3,src:this.picture}]
            p1: 0,  //nb de coup joué par joueur 1
            p2: 0,  //nb de coup joué par joueur 2
            p1Colonne0: 0,
            p2Colonne0: 0,
            p1Colonne1: 0,
            p2Colonne1: 0,
            p1Colonne2: 0,
            p2Colonne2: 0,
            p1Colonne3: 0,
            p2Colonne3: 0,
            result: ''
        }
    },
    methods: {
        addNewItem(index){
            this.tour++;
            this.game[index].push({id:this.game.length +2, src:this.tour%2 ? this.player2 : this.player1});
            // this.tour%2 ? this.p1++ : this.p2++;
            this.analyseGame(index);
        },
        analyseGame(index){
            this.game[index].forEach((item,key) => {
                //on incrémente p1 quand on a une occurence et quelle est 
                if (item.src == this.player1){
                    if (key == 0){
                        this.p1Colonne0++
                    } else if (this.game[index][key-1].src == this.player1){
                        this.p1Colonne0++
                    } else if (this.game[index][key-1].src != this.player1){
                        this.p1Colonne0 = 1
                    }
                }
                
                if (item.src == this.player2){
                    if (key == 0){
                        this.p2Colonne0++
                    } else if (this.game[index][key-1].src == this.player2){
                        this.p2Colonne0++
                    } else if (this.game[index][key-1].src != this.player2){
                        this.p2Colonne0 = 1
                    }
                }

                //on détermine isWinPlayer1 ou isWinPlayer1
                if ( this.p2Colonne0 >= 10 || this.p2Colonne0 == 4){ //this.p2Colonne0 == 4){
                    this.result = "gagner Player 2"
                } else if (this.p1Colonne0 >= 10 || this.p1Colonne0 == 4) { //this.p1Colonne0 == 4) {
                    this.result = "gagner Player 1"
                } else {
                    this.result = "Pas encore gagné " + this.p2Colonne0
                }
           });

            //TODO : Faire l'algo des lignes !
            //TODO : Faire l'algo des diagolnales !

        },
        onClear(){
            this.game = []
        },
        appearTop(item){
            item.object.animate({ translate: { x: 0, y: 0 }, opacity: 1 });
        },
        removeDown(item){
            item.object.animate({ translate: { x: 0, y: 300 }, opacity: 0 });
        },
        playPlayer1(){},    //random dans les 4 colonnes
        playPlayer2(){},
        
    }
};
</script>

<style>
    .green{
        color:greenyellow;
    }
</style>
