<template>
  <Page>
    <ActionBar title="Puissance 4">
      <NavigationButton text="Back" android.systemIcon="ic_menu_back" @tap="goBack"/>
    </ActionBar>
    <StackLayout>
      <Label horizontalAlignment="center" text="Puissance 4" textWrap="true"/>
      <Label horizontalAlignment="center" :text="player1.counter[0] + '|'+player1.counter[1]+'|'+player1.counter[2]+'|'+player1.counter[3]" textWrap="true"/>
      <Label horizontalAlignment="center" :text="player2.counter[0]+ '|'+player2.counter[1]+ '|'+player2.counter[2]+ '|'+player2.counter[3]" textWrap="true"/>
      <Label
        :class="{withdraw: tourNumber%2 !== 0}"
        horizontalAlignment="center"
        text="Player1"
        textWrap="true"
      />
      <Label
        :class="{withdraw: tourNumber%2 == 0}"
        text="Player2"
        horizontalAlignment="center"
        textWrap="true"
      />
      <Label :text="'Tour number: ' + tourNumber" textWrap="true"/>

      <GridLayout rows="auto" columns="80, 80, 80, 80">
        <FlexboxLayout
          flexDirection="column-reverse"
          backgroundColor="lightblue"
          @tap="onTap(0)"
          col="0"
          ref="toto0"
          id="wrapLayout"
          height="400"
          padding="5,0,5,5"
          orientation="vertical"
        />
        <FlexboxLayout
          flexDirection="column-reverse"
          backgroundColor="blue"
          @tap="onTap(1)"
          col="1"
          ref="toto1"
          id="wrapLayout1"
          height="400"
          padding="5,0,5,5"
          orientation="vertical"
        />
        <FlexboxLayout
          flexDirection="column-reverse"
          backgroundColor="lightblue"
          @tap="onTap(2)"
          col="2"
          ref="toto2"
          id="wrapLayout2"
          height="400"
          padding="5,0,5,5"
          orientation="vertical"
        />
        <FlexboxLayout
          flexDirection="column-reverse"
          backgroundColor="blue"
          @tap="onTap(3)"
          col="3"
          ref="toto3"
          id="wrapLayout3"
          height="400"
          padding="5,0,5,5"
          orientation="vertical"
        />
      </GridLayout>
    </StackLayout>
  </Page>
</template>

<script>
import { Image } from "tns-core-modules/ui/image";
import {
  GestureTypes,
  SwipeGestureEventData,
  SwipeDirection
} from "tns-core-modules/ui/gestures";
export default {
  data() {
    return {
      tourNumber: 1,
      tab: [[], [], [], []],
      player1: { username: "P1", img: "~/assets/images/simplon_black.jpg", counter: [0, 0, 0, 0] },
      player2: { username: "P2", img: "~/assets/images/simplon.png", counter: [0, 0, 0, 0]},
      // p1counter0: 0,
      // p2counter0: 0,
      // p1counter1: 0,
      // p2counter1: 0,
      // p1counter2: 0,
      // p2counter2: 0,
      // p1counter3: 0,
      // p2counter3: 0
    };
  },

  methods: {
    goBack() {
      this.$navigateBack();
    },
    onTap(num) {
      if (this.tab[num].length < 6) {
        if (this.tourNumber % 2 == 0) {
          // if (wrapLayout.child < 5) {
          this.appear(this.player2.img, num);

          // }
        } else {
          this.appear(this.player1.img, num);
        }
        this.compare(num);
        this.tourNumber++;
      }
    },
    appear(img, num) {
      let wrapLayout =
        num == 0
          ? this.$refs.toto0.nativeView
          : num == 1
          ? this.$refs.toto1.nativeView
          : num == 2
          ? this.$refs.toto2.nativeView
          : this.$refs.toto3.nativeView;
      if (this.tourNumber % 2 != 0) {
        if (wrapLayout === this.$refs.toto0.nativeView) {
          this.tab[0].push(this.player1);
        } else if (wrapLayout === this.$refs.toto1.nativeView) {
          this.tab[1].push(this.player1);
        } else if (wrapLayout === this.$refs.toto2.nativeView) {
          this.tab[2].push(this.player1);
        } else {
          this.tab[3].push(this.player1);
        }
      } else {
        if (wrapLayout === this.$refs.toto0.nativeView) {
          this.tab[0].push(this.player2);
        } else if (wrapLayout === this.$refs.toto1.nativeView) {
          this.tab[1].push(this.player2);
        } else if (wrapLayout === this.$refs.toto2.nativeView) {
          this.tab[2].push(this.player2);
        } else {
          this.tab[3].push(this.player2);
        }
      }

      var item = new Image();
      item.src = img;
      item.width = 90;
      item.height = 90;
      item.style.margin = "5,5,5,5";
      item.translateY = -300;
      item.opacity = 0;
      item.on("loaded", args => {
        args.object.animate({ translate: { x: 0, y: 0 }, opacity: 1 });
      });
      wrapLayout.addChild(item);
    },

    compare(num) {

      this.tab[num].forEach((value, key) => {
        if (value.username == this.player1.username) {
          if (key == 0) {           
            this.player1.counter[num]=1;
          } else if (this.tab[num][key - 1].username == this.player1.username) {
            this.player1.counter[num]++;
          } else if (this.tab[num][key - 1].username != this.player1.username) {
           this.player1.counter[num] = 1;
          }
          
        }

        else if (value.username == this.player2.username) {
          if (key == 0) {
            this.player2.counter[num]=1;
          } else if (this.tab[num][key - 1].username == this.player2.username) {
            this.player2.counter[num]++;
          } else if (this.tab[num][key - 1].username != this.player2.username) {
           this.player2.counter[num] = 1;
          }
        }

        if (this.player1.counter[num] >= 10 || this.player1.counter[num] === 4) {
          alert("P1 win");
        }
        if (this.player2.counter[num] >= 10 || this.player2.counter[num] === 4) {
          alert("p2 win");
        }
      });
    }
  }
};
</script>

<style>
.withdraw {
  color: purple;
  font-size: 100;
}
</style>
