<!--https://play.nativescript.org/?template=play-vue&id=C8QFJH&v=59-->
<template>
  <Page>
    <ActionBar title="Swipe">
      <NavigationButton text="Back" android.systemIcon="ic_menu_back" @tap="goBack"/>
    </ActionBar>
    <StackLayout>
        <Label row="0" class="target" @swipe="onSwipe" text="Hello To Simplon World" textWrap="true"/>

      <WrapLayout
        row="1"
        ref="toto"
        id="wrapLayout"
        width="305"
        height="305"
        clipToBounds="true"
        padding="5,0,5,5"
      >

        <!-- <ListView row="2" class="list-group" for="entry in log">
          <v-template>
            <Label class="m-20" :text="entry.text"></Label>
          </v-template>
        </ListView> -->
      </WrapLayout>
    </StackLayout>
  </Page>
</template>

<script>
import { Image } from "tns-core-modules/ui/image";
import {
  GestureTypes,
  SwipeGestureEventData,
  SwipeDirection
} from "tns-core-modules/ui/gestures";
export default {
  data() {
    return {
      log: []
    };
  },
  methods: {
    goBack() {
      this.$navigateBack();
    },
    onSwipe(args) {
      if (args.direction == SwipeDirection.right) {
        var item = new Image();
        let wrapLayout = this.$refs.toto.nativeView;
        item.src = "~/assets/images/simplon.png";
        item.width = 90;
        item.height = 90;
        item.style.margin = "5,5,5,5";
        item.translateX = -300;
        item.opacity = 0;
        item.on("loaded", args => {
          args.object.animate({ translate: { x: 0, y: 0 }, opacity: 1 });
        });
        wrapLayout.addChild(item);
      }
    }
  }
};
</script>

<style>
/* @import 'nativescript-theme-core/css/core.light.css'; */

.target {
  background-color: red;
  color: white;
  vertical-align: middle;
  text-align: center;
  height: 150;
}
</style>
